@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.6fr 0.35fr 0.25fr 0.25fr 0.25fr;
      grid-template-rows: 0.6fr 0.35fr 0.25fr 0.25fr 0.25fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

body.startBody {
  -webkit-animation: bodyStart 1s ease-in forwards;
          animation: bodyStart 1s ease-in forwards;
}

@-webkit-keyframes bodyStart {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bodyStart {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#heading {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  padding: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: greenyellow;
}

#heading .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(255, 255, 255, 0.8);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(255, 255, 255, 0.8);
  padding: 0.4rem;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

#heading .img-cont {
  -webkit-filter: drop-shadow(5px 5px 10px);
          filter: drop-shadow(5px 5px 10px);
}

#heading .img-cont img {
  width: 4rem;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-animation: wheel-rotate 3s linear infinite forwards;
          animation: wheel-rotate 3s linear infinite forwards;
}

#heading h2 {
  font-size: 2rem;
  border-radius: 5px;
  text-align: center;
}

@-webkit-keyframes wheel-rotate {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes wheel-rotate {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

#colorOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

#colorOptions h4 {
  padding: 0.5rem;
  font-size: x-large;
  text-align: center;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
}

#colorOptions #colors {
  text-align: center;
}

#colorOptions #colors .color {
  -webkit-appearance: none;
  width: 10vw;
  height: 10vw;
  margin: 10px;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5)) drop-shadow(-3px -3px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5)) drop-shadow(-3px -3px 5px rgba(0, 0, 0, 0.5));
}

#colorOptions #colors .color:checked[type="radio"] {
  border-color: black;
}

#winningColorRGB {
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

#result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  padding: 7px;
}

#ResultContent {
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
}

#playAgain button {
  background-color: greenyellow;
  -webkit-box-shadow: 5px 5px 15px black;
          box-shadow: 5px 5px 15px black;
  display: none;
  padding: 0.6em;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.credit {
  text-align: center;
  font-size: 1.25rem;
  color: black;
}

@media (max-width: 525px) {
  #result {
    font-size: 0.75rem !important;
  }
}

@media (max-width: 400px) {
  .credit {
    font-size: 1rem;
  }
  #heading h2 {
    font-size: 1.5rem;
  }
  #heading .img-cont img {
    width: 3rem;
  }
  #winningColorRGB {
    font-size: 1rem;
  }
  #result {
    font-size: 0.5rem !important;
  }
}

@media (max-width: 300px) {
  .credit {
    font-size: 0.75rem !important;
  }
  #heading h2 {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */